name: "Check for newer chaingguard image versions"

on:
  workflow_call:

jobs:
  digest-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: navikt/digestabot@v1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          labels-for-pr: digestabot
          team: aap