name: frontend-build

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
        description: Image from ghcr

    secrets:
      NODE_AUTH_TOKEN:
        required: true
        description: Auth token

env:
  IMAGE: ${{ inputs.image }}
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    outputs:
        image: ${{ env.IMAGE }}
    permissions:
        contents: read
        id-token: write
        packages: write
    env:
        NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com
          cache: yarn
      - name: Cache client node_modules
        id: cache-node-modules
        uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}
      - name: Cache server node_modules
        id: cache-server-node-modules
        uses: actions/cache@v5
        with:
          path: server/node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('server/yarn.lock') }}
      - name: install dependencies Yarn
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
      - name: install server dependencies Yarn
        if: steps.cache-server-node-modules.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
        working-directory: server
      - name: server tests
        run: yarn test
        working-directory: server
      - name: client tests
        run: yarn test
      - name: Bygg klient(yarn run build)
        run: yarn run build
      - name: Bygg server(yarn run build)
        run: yarn run build
        working-directory: server
#      - name: Run playwright tests
#        uses: navikt/aap-workflows/.github/workflows/playwright.yml@main




