# A reusable workflow for pull-requests on gradle JVM projects.
#
# Prerequisites:
# - Minimum 1 junit test
# - dependabot.yml with open-pull-requests-limit: 1
#
# Recommendations:
# Require `test` job (dorny/test-reporter) in a branch protection rule to main.

name: Pull Request

on: 
  workflow_call:
    inputs:
      jdk:
        required: false
        type: string
        description: jdk version
        default: 25
      debug:
        required: false
        type: boolean
        description: turn on debug logs
        default: false

jobs:
  build:
    permissions:
      checks: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5.1.0
        with:
          java-version: ${{ inputs.jdk }}
          distribution: 'temurin'

      - uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper
        env:
          # Reports all cache entries saved/restored.
          # Some parallel cache operations will be disabled when debug is enabled
          GRADLE_BUILD_ACTION_CACHE_DEBUG_ENABLED: ${{ inputs.debug }}

      - run: ./gradlew test --continue
        env:
          GITHUB_PASSWORD: ${{ secrets.READER_TOKEN }}

      - uses: dorny/test-reporter@v2.4.0
        if: success() || failure()
        with:
          name: test
          path: "**/build/test-results/test/TEST-*.xml"
          reporter: java-junit
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Test Reporta
        uses: mikepenz/action-junit-report@v6
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Store reports
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: reports
          path: |
            **/build/reports/
            **/build/test-results/
            **/build/test-logs/
